.button {
    background-color: #7159c1;
    color: #fff;
    border: 0;
    height: 54px;
    padding: 1rem;
    transition: filter 0.3s;
    cursor: pointer;
    border-radius: 16px;
    width: 150px;
    font-weight: 600;


    &:hover {
        filter: brightness(0.9);
    }
}